$color: (white: white,
    black: black,

    grey50: #f8f9fa,
    grey100: #f1f3f4,
    grey200: #e8eaed,
    grey300: #dadce0,
    grey400: #bdc1c6,
    grey500: #9aa0a6,
    grey600: #80868b,
    grey700: #5f6368,
    grey800: #3c4043,
    grey900: #202124,

    green400: #34a853,
    green500: #5bb974,
    green600: #1E8E3E,
    green700: #188038,

    yellow50: #FEF7E0,
    yellow100: #FEEFC3,
    yellow200: #fde293,
    yellow300: #FDD663,
    yellow400: #fcc934,
    yellow500: #fbbc04,
    yellow600: #F9a800,
    yellow700: #F29900,

    blue50: #E8F0FE,
    blue100: #d2e3fc,
    blue200: #AECBFA,
    blue400: #669df6,
    blue500: #4285f4,
    blue600: #1a73e8,
    blue700: #1967D2,

    red50: #fce8e6,
    red400: #ee675c,
    red500: #ea4335,
    red600: #d93025,
    red700: #c5221f,
);

@function color($color-name) {
    @return map-get($color, $color-name);
}