.console-survey-wrap {

    .console-survey-table {
        width: 100%;
        
    }

    .console-survey-btn-gp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
}